/* YOUR CUSTOM STYLES */
.hidden {
    display: none;
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar {
    background-color: #ffffff;
}
.navbar a {
    color: #ff6d00;
}
.orchard-card {
    background-color: #F0F2F4;

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.orchard-card-field {
    margin-top: 24px;
}
.orchard-dropdown {
    width: 100%;
    margin-left: 0px;
}
.orchard-dropdown-item {
    margin: 24px 0;
}
.community-list {
    margin-bottom: 20px;
}
.chip {
    display: inline-block;
    font-size: 13px;
    color: rgba(0,0,0,.6);
    padding: 0 12px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.chip,
.chips .input {
    font-weight: 500;
    height: 32px;
}
.chip,
.chip .close,
.chips .input {
    line-height: 32px;
}
.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    padding-left: 8px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
}
.chip,
.chip .close,
.chips .input {
    line-height: 32px;
}

html,
body,
header,
.root-view,
.view {
    height: 100%;
}

/*Intro*/
.full-bg-img,
.view {
    height: auto;
    position: relative;
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #455a64;
    text-align: center;
}

.floating-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ff6d00;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  /*padding-top: 15px;*/
  /*margin-bottom: 0;*/
  z-index: 998;
}
