/* Reset */
/** {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

p {
  padding: 10px 0;
}

body {
  height: 100%;
  font-family: arial;
  position: relative;
  background: #222;
}*/

.base-sidenav .floatl {
  float: left;
}

.base-sidenav .floatr {
  float: right;
}

/* Side menu */
.base-sidenav .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 250px;
  background: #222;
  color: #FFF;
  padding: 20px;
  text-transform: uppercase;
}
.base-sidenav .sideMenu.right {
  left: auto;
  right: 0;
}
.base-sidenav .sideMenu > ul {
  padding: 0;
  list-style: none;
  margin: 20px 0;
}
.base-sidenav .sideMenu > ul > li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}
.base-sidenav .sideMenu > ul > li a {
  color: #CCC;
  text-decoration: none;
  display: block;
  line-height: 3.2;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 -10px;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.47, 1);
}
.base-sidenav .sideMenu > ul > li a:hover {
  color: #222;
  text-indent: 250px;
}
.base-sidenav .sideMenu > ul > li a::before {
  content: attr(data-value);
  color: #FFF;
  float: left;
  width: 250px;
  margin-left: -250px;
}

/* Toggle button */
.base-sidenav .menuBtn {
  display: inline-block;
  background: #f1103a;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
  display: block;
  font: bold 1.7em/36px Courier New;
  width: 36px;
  height: 36px;
  text-align: center;
  text-shadow: 0 -5px, 0 5px;
}
.base-sidenav .menuBtn:hover {
  background: #222;
}

/* Content handing */
.base-sidenav #contentWrap {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #FFF;
  padding: 20px;
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.47, 1);
}
.base-sidenav #sideToggle1:checked ~ #contentWrap {
  -webkit-transform: translatex(250px);
  border-radius: 8px;
  transform: translatex(250px);
}
.base-sidenav #sideToggle2:checked ~ #contentWrap {
  -webkit-transform: translatex(-250px);
  transform: translatex(-250px);
  border-radius: 8px;
}
