.tasks .day-title {
  margin: 20px 0 10px;
}

.tasks .color-tag {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: inline-block;
}

.tasks .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.tasks .orchard-name {
  background-color: #fff !important;
  margin-bottom: 10px;
}

.tasks .orchard-name.blue {
  color: #1397f1;
}

.tasks .orchard-name.green {
  color: #4caf50;
}

.tasks .time {
  float: right;
}

.tasks .options {
  text-align: right;
  color: #008a7b;
}

.tasks .options .option {
  margin-left: 20px;
  cursor: pointer;
}

.tasks .options .more {
  display: none;
}

.tasks .options .collapsed .less {
  display: none;
}

.tasks .options .collapsed .more {
  display: inline;;
}

.tasks .list-group {
  box-shadow: none;
  margin-bottom: 15px;
}

.tasks .list-group button {
  border: none;
}

.tasks .list-group .fa {
  min-width: 15px;
  margin-right: 10px;
}
