<!--Navigation & Intro-->
<div>
    <!--Mask-->
    <div class="view">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">

                    <!--First column-->
                    <div class="col-lg-6">
                        <div class="description">
                            <h2 class="h2-responsive">Grdn </h2>
                            <hr class="hr-dark">
                            <p>Cosecha una huerta en tu comunidad</p>
                            <br>
                            <a href="/#/sign-in" class="btn btn-secondary btn-lg">Ingresar</a>
                        </div>
                    </div>
                    <!--/.First column-->
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->

</div>
<!--/Navigation & Intro-->