<!--Navbar-->
<nav class="navbar navbar-dark">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2"><i class="fa fa-bars"></i></button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Grdn</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->

<div class="col-xs-12 tasks">
    <!--Card-->
    <div class="card">
        <!--Card content-->
        <div class="card-block">
            <div class="media">
                <div class="media-left">
                    <div class="color-tag green"></div>
                </div>
                <div class="media-body">
                    <h4 class="card-title media-heading">TerraCampus</h4>
                    <p class="orchard-name">Huerta de tomates y lechugas</p>
                    <div class="options">
                        <span>Ver más</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
        <!--Card content-->
        <div class="card-block">
            <div class="media">
                <div class="media-left">
                    <div class="color-tag green"></div>
                </div>
                <div class="media-body">
                    <h4 class="card-title media-heading">Tres Ríos</h4>
                    <p class="orchard-name">Huerta de tomates</p>
                    <div class="options">
                        <span>Ver más</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Card content-->
    </div>
    <!--Card-->
    <div class="card">
        <!--Card content-->
        <div class="card-block">
            <div class="media">
                <div class="media-left">
                    <div class="color-tag yellow"></div>
                </div>
                <div class="media-body">
                    <h4 class="card-title media-heading">Concepción, Tres Ríos</h4>
                    <p class="orchard-name">Huerta de espinaca</p>
                    <div class="options">
                        <span>Ver más</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
    <a href="/#/new-orchard/name" class="floating-button fixed-action-btn"><p class="plus">+</p></a>
</div>
