<div class="md-form">
    <input type="text" id="name" class="form-control">
    <label for="name" class="">Nombre</label>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="method" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Método</button>
    <div class="dropdown-menu dropdown-primary" aria-labelledby="method" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
        <a class="dropdown-item" href="#">Huerto tradicional</a>
        <a class="dropdown-item" href="#">Huerto hidropónico</a>
        <a class="dropdown-item" href="#">Huerto vertical</a>
    </div>
</div>