<!--Card-->
<div class="card">

    <!--Card image-->
    <div class="card-image">

    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-content">
        <div class="card-block">

            <!--Component-->

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="form4" class="form-control">
                        <label for="form4">Contraseña</label>
                    </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="method" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Método</button>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="method" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <a class="dropdown-item" href="#">Huerto tradicional</a>
                    <a class="dropdown-item" href="#">Huerto hidropónico</a>
                    <a class="dropdown-item" href="#">Huerto vertical</a>
                </div>
            </div>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->

