<aside class='sideMenu left'>
  <div class="profile-header col-xs-12">
    <img class="img-circle" src="https://avatars3.githubusercontent.com/u/2398379?v=3&s=60">
    <h2>Sebastián Navarro</h2>
    <span class="email">sebastian.navarro@gmail.com</span>
  </div>
  <div class="col-xs-12">
      <ul>
        <li><a href='#/tasks'>Dashboard</a></li>
        <li><a href='#/orchard-list' data-value='very long item 2'>Tus jardines</a></li>
        <li><a href='#'>Comunidad</a></li>
        <li><a href='#'>Mensajes</a></li>
      </ul>
  </div>
  <div class="sticky-footer">
      <button type="button" class="btn btn-sm btn-default-outline waves-effect">Cerrar sesión</button>
  </div>
</aside>
