<div class="col-xs-12 tasks">
    <div class="day-tasks">
        <div class="day-title"><strong>Hoy</strong></div>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag blue"></div>
                    </div>
                    <div class="media-body">
                        <span class="time">6:30 AM</span>
                        <h4 class="card-title media-heading">Regar tomates</h4>
                        <p class="orchard-name blue">Jardín del Sexto piso</p>
                        <p class="card-text">Debés regar 1/2L de agua para cada planta alrededor de la base del tallo</p>
                        <div class="collapse" id="moreOptions">
                            <div class="list-group">
                              <button type="button" class="list-group-item">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                                  Posponer recordatorio
                              </button>
                              <button type="button" class="list-group-item">
                                  <i class="fa fa-send-o" aria-hidden="true"></i>
                                  Transferir tarea a otro integrante
                              </button>
                            </div>
                        </div>
                        <div class="options">
                            <span class="option collapsed" data-toggle="collapse" data-target="#moreOptions"
                            aria-expanded="false" aria-controls="moreOptions">
                                <span class="more">MÁS OPCIONES</span>
                                <span class="less">MENOS OPCIONES</span>
                            </span>
                            <span class="option">¡COMPLETO!</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="day-tasks">
        <div class="day-title">Domingo 28 de agosto, 2016</div>
        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag green"></div>
                    </div>
                    <div class="media-body">
                        <span class="time">6:30 AM</span>
                        <h4 class="card-title media-heading">Regar albahacas</h4>
                        <p class="orchard-name green">Mi Jardín</p>
                        <p class="card-text">Debés regar 1/8L de agua para cada planta alrededor de la base del tallo</p>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag blue"></div>
                    </div>
                    <div class="media-body">
                        <span class="time">6:30 AM</span>
                        <h4 class="card-title media-heading">Abonar cebollas</h4>
                        <p class="orchard-name blue">Jardín del Sexto piso</p>
                        <p class="card-text">Debés abonar 100g de abono para cada planta alrededor de la base del tallo</p>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="floating-button fixed-action-btn"><p class="plus">+</p></div>
</div>
