<div class="card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="md-form">
                <input type="text" id="username" class="form-control">
                <label for="username" class="">Nombre de usuario</label>
            </div>
            <div class="community-list">
                <div class="chip">
                    <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg" alt="Contact Person">Mau Muñoz
                    <i class="close fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</div>
