<div class="card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="md-form">
                <input type="text" id="username" class="form-control">
                <label for="username" class="">Nombre de usuario</label>
            </div>

            <div class="community-list">
                <div class="chip">
                    <img src="https://avatars3.githubusercontent.com/u/2398379?v=3&s=60" alt="Contact Person">Mau Muñoz
                    <i class="close fa fa-times"></i>
                </div>
                <div class="chip">
                    <img src="https://avatars0.githubusercontent.com/u/2336196?v=3&s=460" alt="Contact Person">Julio Barboza
                    <i class="close fa fa-times"></i>
                </div>
            </div>

            <a href="/new-orchard/place">Omitir</a>
        </div>
    </div>
</div>
