<div class="card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="datepickerComponent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-control-wrapper">
                            <input type="text" id="date-start" class="form-control floating-label" placeholder="Fecha de inicio">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
