<div class="card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="md-form">
                <input type="text" id="name" class="form-control">
                <label for="name" class="">Nombre</label>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="method" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Método</button>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="method" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <a class="dropdown-item" href="#/new-orchard/community">Huerto tradicional</a>
                    <a class="dropdown-item" href="#/new-orchard/community">Huerto hidropónico</a>
                    <a class="dropdown-item" href="#/new-orchard/community">Huerto vertical</a>
                </div>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom scrolling-navbar double-nav top-nav-collapse">
    <div class="pull-right">
        <a href="#/new-orchard/community" data-activates="slide-out" class="button-collapse">
            SIGUIENTE
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</nav>