<div class="card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="md-form">
                <i class="fa fa-map-marker prefix"></i>
                <input type="text" id="place-name" class="form-control">
                <label for="place-name" class="">Lugar de la huerta</label>
            </div>
            <div class="mapComponent">
                <div id="map-container" class="z-depth-1" style="height: 300px"></div>
            </div>

        </div>
    </div>
</div>
