<div class="orchard-card">
    <div class="card-content">
        <div class="card-block">

            <!--Component-->
            <div class="md-form">
                <i class="fa fa-search prefix"></i>
                <input type="text" id="product-name js-product-lookup" class="form-control">
                <label for="place-name" class="">Escribí el nombre de los vegetales que cultivarán</label>
            </div>
            <div class="js-products-list products-list"></div>
            <p>Recomendaciones de vegetales que puedes cultivar en tu zona geográfica</p>
            <div class="col-xs-12 tasks">
                <a href="#" class="js-product product">
                    <div class="card">
                       <div class="card-block">
                           <div class="media">
                               <div class="media-left">
                                   <div class="color-tag orange"></div>
                               </div>
                               <div class="media-body">
                                   <p class="orchard-name">Zanahorias</p>
                                   <div class="card-text">
                                        <ul>
                                            <li>Rica en potasio y fósforo, es un excelente vigorizante para mentes cansadas y restauradora de nervios.</li>
                                            <li>Mejora la calidad de la leche materna.</li>
                                        </ul>
                                   </div>
                                   <div class="hidden cardt-text">
                                       <ul>
                                            <li>La zanahoria también es buena para la vista</li>
                                            <li>Los aromas de la zanahoria estimulan el apetito.</li>
                                            <li>Comerla cruda fortalece los dientes y las encías.</li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </a>
                <a href="#" class="js-product product">
                    <div class="card">
                       <div class="card-block">
                           <div class="media">
                               <div class="media-left">
                                   <div class="color-tag green"></div>
                               </div>
                               <div class="media-body">
                                   <p class="orchard-name">Albahacas</p>
                                   <div class="card-text">
                                        <ul>
                                            <li>Adaptogénico (anti-estrés).</li>
                                            <li>Calmante de la Tos</li>
                                            <li>Equilibra la salud emocional</li>
                                        </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </a>
                <a href="#" class="js-product product">
                    <div class="card js-product">
                       <div class="card-block">
                           <div class="media">
                               <div class="media-left">
                                   <div class="color-tag red"></div>
                               </div>
                               <div class="media-body">
                                   <p class="orchard-name">Tomates</p>
                                   <div class="card-text">
                                        <ul>
                                            <li>Fuente abundante de antioxidantes</li>
                                            <li>Reduce el colesterol y protege el corazón</li>
                                            <li>Fuente de vitaminas y minerales</li>
                                        </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </a>
           </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom scrolling-navbar double-nav top-nav-collapse">
    <div class="pull-left">
        <a href="#/new-orchard/place" data-activates="slide-out" class="button-collapse">
            <i class="fa fa-chevron-left"></i>
            ANTERIOR
        </a>
    </div>
    <div class="pull-right">
        <a href="" data-toggle="modal" data-target="#congratsModal" class="button-collapse">
            SIGUIENTE
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="congratsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body modal-dialog-center">
                <img class="" src="../images/tomatito.svg" alt="Grdn Logo">

                <h1>LISTO</h1>
                <p>Tu jardín ha sido creado y se han asignado las tareas a cada colaborador</p>
                <p>Disfruta cultivando y cosechando tus propios alimentos</p>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a href="" class="btn btn-secondary" data-dismiss="modal">Continuar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->


