<input type='checkbox' id='sideToggle' hidden>
<ng-include src="'templates/sidenav.html'"></ng-include>
<div id='contentWrap'>
    <div class="app-bar col-xs-12">
        <label class='menuBtn' for='sideToggle'>&minus;</label>
        <h1>Mi Jardín</h1>
    </div>
    <div class="col-xs-12 tasks grdn-selected">
        <!--Card-->
    	<div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag blue"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title media-heading">Albahaca</h4>
                        <p class="orchard-name remove-margin">Cultivado hace 1 semanas</p>
                        <p class="card-text ">Cosecha en 3 semanas apróximadamente</p>
    					<progress class="progress" value="33" max="100">33%</progress>
    					<div class="options">
                            <span class="option">VER MÁS</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag blue"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title media-heading">Tomate Cherry</h4>
                        <p class="orchard-name remove-margin">Cultivado hace 2 semanas</p>
                        <p class="card-text ">Cosecha en 8 semanas apróximadamente</p>
                        <progress class="progress" value="20" max="100">20%</progress>
                        <div class="options">
                            <span class="option">VER MÁS</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <div class="color-tag blue"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title media-heading">Berenjenas</h4>
                        <p class="orchard-name remove-margin">Cultivado hace 6 semanas</p>
                        <p class="card-text ">Cosecha en 1 semanas apróximadamente</p>
                        <progress class="progress" value="17" max="100">17%</progress>
                        <div class="options">
                            <span class="option">VER MÁS</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card content-->
        </div>
    </div>
</div>
